@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.backg{
    background-color: #a3ede2;
}

.btn-midias{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: transparent;
    border: solid #04433a;
    color: #04433a;
    width: 110px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    border-width: 0.1rem;
    font-weight: bold;
}

.btn-midias:hover{
    background-color: #04433a;
    color: #fff;
    transition: 400ms;
    border: solid #04433a;
}

.font{
    color: #04433a;
}